.popup__form-input {
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 0 0 10px 0; //13
  box-sizing: border-box;
}

/*.popup__form-input:last-of-type {
  margin-top: 25px;
}
*/
.popup__form-input:focus {
  background-color: rgb(137, 250, 158);
}


@media screen and (max-width:767px) {
  .popup__form-input {
    padding: 0 0 10px 0;
  }

  /*.popup__form-input:last-of-type {
    margin-top: 30px;
  }
}
