.card__description{
  max-width:282px;
  background-color:crimson;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:25px 15px 31px 21px;
  border-radius:0 0 10px 10px;
  box-sizing: border-box;
  background-color: #ffffff;

}
