.popup__title{
  font-size:24px;
  color:#000000;
  line-height:29px;
  font-weight:900;
  margin:0 0 50px 0;
  align-self: flex-start;
}

@media screen and (max-width:767px){
  .popup__title{
    margin:0 0 75px 0;
    line-height:22px;
    font-size:18px;
  }
}

